<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Admin panel</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<body>
<!--/*@thymesVar id="user" type="ru.kata.spring.boot_security.demo.Model.User"*/-->
<div class="row text-white bg-dark">
    <div class="col d-flex justify-content-between align-items-center">
        <div sec:authorize="isFullyAuthenticated()">
            <h4 style="margin-left: 30px;"><b><span th:text="${user.getUsername()}"></span></b> with roles <span
                    th:text="${user.getRoles()}"></span></h4>
        </div>
        <div class="col-1 ml-auto">
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="nav-link" href="#" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item" style="background-color: #49aaff;margin-top: 10px;">
                    <a class="nav-link" style="color: white;" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <h1><b>Admin panel</b></h1>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a class="btn btn-light" data-toggle="tab" href="#nav-home">Users table</a></li>
                <li><a class="btn btn-light" data-toggle="tab" href="#nav-profile">New User</a></li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="col" style="background-color: #e6e6e6;"><h3>All users</h3></div>
                    <div class="col p-3" style="background-color: white;">
                        <table class="table table-striped" id="adminTable">
                            <thead>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="col" style="background-color: #e6e6e6;"><h3>Add new user</h3></div>
                    <div class="col" style="background-color: white;text-align: center;">
                        <form class="col-6 mx-auto" id="frmAdd"  onsubmit="onSubmitAction(this)" th:object="${newuser}">
                            <input type="hidden" th:field="*{id}" id="id">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group row">
                                <label class="col col-form-label" for="firstname">First name</label>
                                <input class="form-control-plaintext border" type="text" th:field="*{firstname}" placeholder="string" />
                            </div>
                            <div class="form-group row">
                                <label class="col col-form-label" for="lastname">Last name</label>
                                <input class="form-control-plaintext border" type="text" th:field="*{lastname}" placeholder="string" />
                            </div>
                            <div class="form-group row">
                                <label class="col col-form-label" for="age">Age</label>
                                <input class="form-control-plaintext border" type="text" th:field="*{age}" placeholder="string" />
                            </div>
                            <div class="form-group row">
                                <label class="col col-form-label" for="email">Email</label>
                                <input class="form-control-plaintext border" type="text" th:field="*{email}" placeholder="string" />
                            </div>
                            <div class="form-group row">
                                <label class="col col-form-label" for="password">Password</label>
                                <input class="form-control" type="password" th:field="*{password}" placeholder="Password" />
                            </div>
                            <div class="form-group row">
                                <label class="col col-form-label" for="roles">Role</label>
                                <select th:field="*{roles}" multiple class="custom-select" id="roles">
                                    <option th:each="role : ${listRoles}"
                                            th:text="${role.name}"
                                            th:value="${role.id}">
                                </select>
                            </div>
                            <button class="btn btn-success" name="action" type="submit" value="save">Add new user</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in' tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content" style="overflow-y: auto;">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script>
    function edclick(id) {
        $.ajaxSetup({ cache: false });
        $('#myModalContent').load("/edit?id="+id, function () {
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
        });
        return false;
    };
    function delclick(id) {
        $.ajaxSetup({ cache: false });
        $('#myModalContent').load("/delete?id="+id, function () {
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
        });
        return false;
    };
    $(async function () {
        await getUsersTable();
    })
    async function getUsersTable() {
        let temp = "";
        const table = document.querySelector("#adminTable tbody");
        await fetch("../clients", { cache: 'no-store', headers: {'Pragma': 'no-cache'}})
            .then(res => res.json())
            .then(users => users.forEach(user => {
                let roles = ""
                user.roles.forEach(role => roles += role.name + ' ')
                temp += `
                <tr>
                    <td>${user.id}</td>
                    <td>${user.firstname}</td>
                    <td>${user.lastname}</td>
                    <td>${user.age}</td>
                    <td>${user.email}</td>
                    <td>${roles}</td>
                    <td>
                        <a id="btEdit" class="btn btn-success" onclick="edclick(${user.id})">Edit</a>
                    </td>
                    <td>
                        <a id="btDel" class="btn btn-danger" onclick="delclick(${user.id})">Delete</a>
                    </td>
                </tr>
            `;
            }))
        table.innerHTML = temp;
    }
    function onSubmitAction(elem) {
        event.preventDefault();
        var fd = new FormData(elem);
        var res =(async () => {
            const res = await fetch('/adminadd',{
                credentials: 'include',
                method:'POST',
                body: fd,
            });
        })();
        clearAllFormInputs();
        setTimeout(function () {
            getUsersTable();
        }, 500);
        return false;
    }
    function clearAllFormInputs() {
        let form = document.getElementById('frmAdd');
        let inputs = form.getElementsByTagName('input');
        for (let input of inputs)
            input.value = '';
    }
</script>
</body>
</html>